@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min";

$fa-font-path: "../webfonts";

@import "variables";

body {
    background: #e6e6e6;
}

form {
    label.error {
        color: $colorDanger;
        margin-top: 3px;
        display: block;
    }

    input.error, select.error {
        border-color: $colorDanger !important;
    }
}